{$SERVER_NAME} {
errors stderr

gzip

root /home/caddy
tls {$LE_EMAIL}
git github.com/23x/stoll-klangbrett /home/caddy/


header / {
  X-Frame-Options "SAMEORIGIN"
  X-Xss-Protection "1; mode=block"
  X-Content-Type-Options "nosniff"
  -Server
}

}
